.Card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Card-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
}

.Card-Image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-height: 440px;
}

.Card-Notes {
    font-size: large;
    padding-bottom: 5px;
    color: antiquewhite;
    width: 100vw;
    min-height: 30px;
}

.Card-EmptyImage, .Card-Image > img {
    height: 100vw;
}
