.App {
  text-align: center;
  min-height: 100vh;
  background-color: #424853;
  color: white;
  display: flex;
  flex-direction: column;
}

.Main {
  font-size: calc(18px + 2vmin);
  display: contents;
}

.Footer {
  padding-bottom: 30px;
}

.Toolbar {
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.Toolbar > label {
  min-width: 160px;
}

.App-button {
  width: 180px;
  height: 45px;
}

.App-button:not(:last-of-type) {
  margin-right: 5px;
}

.Reveal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}