.App {
  text-align: center;
  min-height: 100vh;
  background-color: #424853;
  color: white;
  display: flex;
  flex-direction: column;
}

.Main {
  font-size: calc(18px + 2vmin);
  display: contents;
}

.Toolbar {
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: space-evenly;
}

.Toolbar > label {
  min-width: 160px;
}

.App-button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 250px;
  height: 45px;
}

.Reveal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}