.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main {
  font-size: calc(14px + 2vmin);
  display: contents;
}

.Toolbar {
  font-size: calc(10px + 2vmin);
  width: 100vw;
  display:flex;
  justify-content: space-evenly;
}

.Toolbar > label {
  min-width: 150px;
}

.App-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.Footer {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 22px);
  min-height: 200px;
  margin-top: 10px;
  border: 1px dotted grey;
  justify-content: flex-end;
  align-items: flex-end;
  color: grey;
  padding: 10px;
  font-style: italic;
  margin-top: 30px;
}
